.content {
  width: 100%;
  max-width: 1280px;
  padding-top: 34px;
}

.content__cards {
  margin: 0 auto;
}

.content__profile {
  margin: 0 0 20px;
}
@media screen and (max-width: 654px) {
  .content__profile {
    margin: 20px auto;
  }
}
