.footer {
  color: #212121;
  opacity: 0.7;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 60px 0;
}

.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
