.profile {
  font-weight: 500;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.profile__button {
  border: none;
  width: 149px;
  height: 52px;
  background-color: #000;
  border-radius: 8px;
  align-self: flex-end;
  transition: opacity 0.2s linear;
}

.profile__avatar-ctn {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.profile__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__avatar-btn {
  color: #fff;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  border-radius: 8px;
  background-color: #00000080;
  border: none;
}

.profile__avatar-ctn:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__post-text {
  max-width: 73px;
  color: #fff;
  margin-left: 10px;
}

.profile__column {
  color: #212121;
  display: flex;
}

.profile__image {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
}

.profile__information {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-left: 20px;
}

.profile__name {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  margin: 0;
}

.profile__description {
  max-width: 420px;
  font-size: 16px;
  opacity: 0.7;
  line-height: 1;
  margin-top: 12px;
  margin-bottom: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #fcf5e5;
  width: max-content;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  opacity: 0.7;
  transition: opacity 0.2s linear;
}

.profile__edit:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 654px) {
  .profile {
    max-width: 288px;
    flex-flow: column;
    align-content: center;
  }

  .profile__button {
    width: 100%;
    height: 52px;
  }

  .profile {
    flex-flow: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .profile__name {
    font-size: 20px;
  }

  .profile__image {
    width: 80px;
    height: 80px;
    margin: 0 auto 12px;
  }

  .profile__description {
    margin-top: 6px;
  }

  .profile__edit {
    align-self: center;
    margin-top: 32px;
  }

  .profile__information {
    align-content: center;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .profile__column {
    flex-flow: column;
  }

  .profile__avatar-btn {
    visibility: hidden;
  }

  .profile__avatar-btn::after {
    content: "";
  }
}
